$colorbg:#ECF0F1;
$ahoverborder:2px solid #ABB2B9;
@mixin textstyle {
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

.Horizontal-scroll{
    background-color:$colorbg;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    font-weight: normal;
    a {
            @include textstyle();
            display:inline-block;
            padding: 30px;
            text-decoration: none;
            font-weight: 300;
        }
    a:hover {
            border-bottom:$ahoverborder;
        }
}

.Horizontal-scroll::-webkit-scrollbar {
    display: none;
}



